<!DOCTYPE html>
%html
  %head
    %title Blog
    = stylesheet_link_tag 'reset', 'scaffold', 'formtastic', 'style', :cache => true
    = javascript_include_tag 'application', 'jquery.min', 'rails', :cache => true
    = csrf_meta_tag
  %body
    %header
      = render :partial => 'layouts/header'
    %section.content
      %p#notice= notice
      %p#alert= alert
      = yield
    %section.right
      = render :partial => 'layouts/right'
    %footer
